// Use ~ to import things from within node_modules, such as:
@import '~normalize.css/normalize';
button {
  border-width: 0;
  border-radius: 0;
}

input,
select,
textarea {
  font-family: inherit; // Overrides Normalize reset that changes font to sans-serif
}

img,
svg {
  display: block;
  max-width: 100%;
}

img {
  height: auto;
}

svg {
  height: auto;
  max-height: 100%; // Fixes Safari bug
  &:not(:root) {
    // Show content outside of SVG viewbox so it can be seen when animated
    overflow: visible;
  }
  @supports (display: grid) {
    max-height: none; // CSS Grid erroneously makes max-height: 0
  }
}

// Stop Webkit (Safari) forcing rounded borders
// https://stackoverflow.com/a/2918716
input[type='search'] {
  -webkit-appearance: none;
}

// Stop Webkit (Safari) forcing widths and whatnot on date inputs
// https://stackoverflow.com/a/31523871
input[type='date'] {
  // Fixes Safari date input appearance
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

// Table vertical alignment default to top, as browsers are inconsistent
th,
td {
  vertical-align: top;
}
