a {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink; // Stops link underline cutting through glyphs with decenders (p,y,q,j,g)
}

abbr[title] {
  text-decoration: none;
}

[title="year old"] {
  // "Year old" <abbr> graphic
  text-transform: capitalize;

  svg{
    display: inline-block;
    height: auto;
    width: 0.92em;
    vertical-align: baseline;
  }
  &:first-letter{
    color:red;
  }
}


main>div {
  font-weight: 100;
  margin: 10% auto;
  width: 90%;
  max-width: 20em;
}

.tastings {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 10%;
  line-height: 1;
  letter-spacing: -0.025em;
    counter-reset: tasting-count;
  a {
    position: relative;
    display: block;
    text-decoration: none;
    &::before {
      content: counters(tasting-count, ".") " ";
      counter-increment: tasting-count;
      color: $color-highlight;
      position: absolute;
      right: 100%;
      bottom: 0;
      z-index: 10;
      transition: transform 0.5s;
    }
    &:not(:first-child) {
      padding-top: 0.25em;
    }
    &:hover {
      &::before {
        transform: translateX(100%);
      }
    }
  }
  strong {
    font-weight: 500;
  }
  @media (min-width:768px) {
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 12.5rem;
    em {
      font-style: normal;
    }
  }
}

.numero {
  // No. # glyph
}

.lining-figure {
  font-feature-settings: "kern", "dlig", "liga", "lnum";
}
