header[role="banner"] {
    margin-bottom:10%;
    svg{
        transform: translateY(-2.5%);
        transition: color 0.5s, transform 1s;
    }
    &:hover{
        svg{
            color:$color-highlight;
        }
    }
}